*{
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}

body{
    width: 110%;
    height: 100vh;
    background-color: #fff; 
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.pictures {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 140%;
    height: 140%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 140%;
    height: 140%;
    background: rgba(0, 0, 0, 0.5); 
}


.form h2 {
    width: 100%;
    text-align: center;
    color: #64121f;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0;
    padding-top: 10px;
    vertical-align: middle;
}


.form input[type="radio"] {
    margin: 10px 5px 0 0;
    width: 50%;
}

.form input:focus, .form select:focus {
    outline: none;
}

::placeholder {
    color: #fff;
}

.btnn {
    width: 100%;
    height: 40px;
    background: #64121f;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #fff;
    color: #64121f;
}

.form .link {
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color:#fff;
}

.form .link a {
    text-decoration: none;
    color: #64121f;
}



.security-question {
    color: #fff;
    margin-top: 20px; 
    font-size: 15px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.form {
    width: 850px; 
    height: 800px;
    margin: auto; 
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 25px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
}

.form input, .form select {
    width: calc(50% - 20px); 
    height: 30px;
    background: transparent;
    border-bottom: 1px solid #64121f;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.form .gender {
    width: 100%; 
    color: #fff;
    margin-top: 20px;
}

.form input[type="radio"] {
    width: 100%; 
    margin-top: 20px;

}

.form .security-question,
.form input[type="text"] {
    width: 100%; 
    margin-top: 20px;
}

.form .security-question {
    width: 100%;
}

.form .major{
    width: 100%;
}
.form .yeargroup{
    width: 270%
}







