* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;

}

body{
    min-height: 100vh;
    
}

.main-top h1{
    font-family: 'League Spartan', sans-serif;
}

.container{
    display: flex;
}

nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 320px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    margin-top: 5px;
}

a{
    position: relative;
    color: rgb(85,  83, 83);
    font-style: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}

nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;

}

.nav-item{
    position: relative;
    top: 12px;
}

a:hover{
    background-color: #eee;
    
}

.logout{
    position: absolute;
    bottom: 0;


}

.help{
    position: absolute;
    bottom: 60px;
}

.settings{
    position: absolute;
    bottom: 120px;
}

.main{
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.circular-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: auto;
}

.circular-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(50% at center);
}

.info {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 10px;
    background-color: #64121f;
    border-radius: 25px;
    
}

.setting-list a{

    text-align: center;
    margin: 10px auto;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    background-color: #000000;
    color: white;
    font-size: 15px;


    
    
}
.setting-list a:hover{
    background-color: #343333;

}

.info h1{
    color: #ffffff;

}
.modal-change-picture {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.modal-content {
    background-color: #64121f;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 100vh;
    max-height: 200vh;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#upload-button {
    background-color: #64121f;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#upload-button:hover {
    background-color: #fbfbfb;

}

.option-change-picture{
 margin: 40px;
}

input[type="file"] {
    cursor: pointer; 
}

#upload-button {
    background-color: #c0a5a5; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
}


#upload-button:hover {
    background-color: #c45454; 
}

#upload-button:active {
    background-color: #5a2020; 
}